.header {
    color: #22384c;
    background-color: #94aabd;
    padding: 20px 40px;
    margin-bottom: 40px;
}

.image {
    width: 100%;
    height: 100px;
    background-color: #bbcaa9;
    margin-bottom: 10px;
}

.header h1 {
    margin: 0;
    font-size: 2em;
}

.blog-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.blog-card {
    background: #e6edf1;
    border: 3px solid #3a5266;
    border-radius: 2px;
    width: 450px;
    padding: 20px 100px 20px 20px;
    margin-bottom: 0;
    box-sizing: border-box;
    box-shadow: none;
}

.blog-card h2 {
    margin-top: 0;
    margin-bottom: 16px;
    color: #22384c;
    font-size: 1.3rem;
    font-weight: bolder;
}
.blog-card p {
    color: #22384c;
    font-size: 1rem;
}